*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --white:background: #FFFFFF;
    --neutral:border: 1px solid #262626;
	--neutralbackground: #595959;
    --neutralbackground: #737373;
    --blackbackground: #000000;
    --light-greenborder: 0.7px solid #25A59E;
    --light-bluebackground: #44D5CD;
    --orangebackground: #EE8F39;
    --blurrybackground: #44D5CD;
    --neutralborder: 1px solid #D9D9D9
}
body{
    width: 100%;
    margin: 10px;
	height: 100%;
	overflow-x: hidden;
	padding: 0;
	margin: 0;
}
.nav-container {
    display: flex;
	flex-direction: column;
	width: Fixed(375px);
	height: Fixed(60px);
	justify-content: space-between;
	padding: 16px 20px 16px 20px;
}
.nav-bar {
	display: flex;
	justify-content: space-between;
	align-items: left;
	font-family: "Glida Display";
	color: #25A59E;
	font-size: 16px;
	line-height: 18.83px;
	font-weight: 400;
	margin-top: 20px;
	margin-bottom: 20px;	
}
.logo{
	width: 52px;
	height: 19px;
	border: 0.7px;
	margin-right: 340px;
	margin-left: 10px;
}
.frame{
	width: 24px;
	height: 24px;
	margin-left: -170px;
	margin-right:20px ;
}
.header-text {
	font-family: "Gilda Display";
	font-size: 52px;
	font-weight: 400;
	text-align: center;
    line-height: 61.2px;
	margin-bottom: 0;
	margin-top: 0;
}
span{
	color: #25a59e;
}
.travel-selfies {
	position: relative;
	width: 80%;
	height: 655px;
}
.travel-selfies img {
	max-width: 365px;
}
.blurry {
	position: absolute;
	top: 0;
	left: 0;
	width:365px;
    margin-top: -100px;
	margin-left: 50px;
}
.elipse {
	position: absolute;
	left: 0;
	top: 0;
    margin-left:40px;	
	margin-top:31px;
}
.selfie {
	position: absolute;
    top: 0;
	left: 0;
	max-width:365px; 
	margin-left: 44px;
	margin-top: -11px;
}
.best-destination{
	max-width: 365px;
	margin-top: -420px;
	margin-bottom: 120px;
	float:left;
	margin-left: 80px;
	gap: 28px;
}
.destination{
	width: Fill(335px);
	height: Hug(164px);
	gap: 20px;
}
.destination h2{
	font-family: "Glida Display";
	font-size: 40px;
	font-weight: 400;
    color: #262626; 
	line-height: 52px;
	margin-left: -10px;
	width: 335px;
	height: 104px;
	border: 0.2px;
}
.choose{
	font-family: "Urbanist";
	font-size: 16px;
	font-weight: 500;
	line-height: 24px;
	margin-left: -10px;
	margin-top: 10px;
	width: 335px;
	height: 68px;
}
.destination-images {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	gap: 20px;
}
.mirrow{
margin-left: -15px;
border: 1px solid #f2f2f2;
padding-left: 15px;
padding-top: 15px;
padding-right: 15px;
padding-bottom: 15px;
width: Fill(335px);
height: Hug(378px);
line-height: 50px;
gap: 20px;	
}